.heavenlyContainer {
  background: radial-gradient(rgba(0,0,0,0), rgba(0,0,0,1)),url("../img/heavenly_background.jpg");
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.heavenlyContainer>img {
  margin-left: auto;
  margin-right: auto;
}

.heavenlyContainer>p {
  padding-top: 20px;
}

.farmContainer {
  display: grid;
  grid-template-areas:
    "drinking drinking centerGif centerGif research research"
    "messages messages centerGif centerGif textiles textiles";
  background-image: url("../img/potato_cover.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
}

.farmContainer>p {
  color: white;
  text-align: center;
}

#centerGif {
  min-height: 700px;
  grid-area: centerGif;
  margin: auto;
}

#drinking {
  grid-area: drinking;
}

#research {
  grid-area: research;
}

#messages {
  grid-area: messages;
}

#textiles {
  grid-area: textiles;
}
