@font-face {
  font-family: old-man-eloquent, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes demon {
  0% {transform: rotate(35deg);}
  12.5% {transform: rotate(25deg);}
  25% {transform: rotate(0deg);}
  37.5% {transform: rotate(-25deg);}
  50% {transform: rotate(-35deg);}
  62.5% {transform: rotate(-25deg);}
  75% {transform: rotate(0deg);}
  87.5% {transform: rotate(25deg);}
  100% {transform: rotate(35deg);}
}

.note{
  border-style: dashed;
  color: red;
  font-size: 1.5em;
  border-radius: 40px;
}

.godPotato {
  background-color: beige;
  min-height: 25vh;
}

.godPotato>p {
  font-family: old-man-eloquent;
  font-size: 2em;
  text-align: center;
  margin-left: 10vw;
}
.godPotato>p>a{
  color: black;
  cursor: default;
}

#demonPotato{
  border-radius: 200px;
  display: none;
  margin-right: 50vw;
  max-width: 50vw;
  animation: demon 2s infinite;
}

#runawayIMG{
  border-radius: 200px;
  display: none;
  margin-left: 50vw;
  max-width: 50vw;
}

.heavenlyContainer {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/heavenly_background.jpg");
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.heavenlyContainer>img {
  margin-left: auto;
  margin-right: auto;
}

.heavenlyContainer>p {
  padding-top: 20px;
}

.farmContainer {
  display: grid;
  grid-template-areas:
    "drinking drinking centerGif centerGif research research"
    "messages messages centerGif centerGif textiles textiles";
  background-image: url("../img/potato_cover.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vw;
  color: white;
  text-align: center;
}

.farmContainer>div>p {
  display: none;
}

@media query {

}

#centerGif {
  min-height: 700px;
  grid-area: centerGif;
  margin: auto;
}

#drinking {
  grid-area: drinking;
}

#research {
  grid-area: research;
}

#messages {
  grid-area: messages;
}

#textiles {
  grid-area: textiles;
}
